/* ================================
   LOGIN
================================ */
.seccion-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('recursos/fondo.jpg');
    background-size: cover;
    z-index: 1000;
}

.caja-login {
    background-color: var(--blanco-transparente);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
    width: 300px;
}

.caja-login input {
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid var(--rosa-principal);
    border-radius: 10px;
    font-size: 16px;
}

.caja-login button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
}

.error-msg {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    min-height: 20px;
}